Caro Usuário,
<br><br>
Agradecemos sua participação no Pool de Agentes de Comercialização de Energia Elétrica.
<br><br>
Seguem instruções de acesso à plataforma:
<br><br>
O Pool de preços foi desenvolvido para acesso via browser de internet. A Dcide recomenda o uso do navegador Google Chrome para garantir a qualidade das funcionalidades gráficas. Nosso sistema também está preparado para ser executado sobre browsers de aparelhos móveis, mas nós recomendamos utilizar o aplicativo Google Chrome para o acesso.
<br><br>
Acesse o link a seguir para definir sua senha:
<a href='{{url}}register/{{activationKey}}'>{{url}}register/{{activationKey}}</a>
<br><br>
Estamos à disposição para esclarecer quaisquer dúvidas,
<br><br>

<h3>Equipe Suporte Denergia</h3>

T. (19)2513-4118

<br>
Skype: dcide.denergia
<br>

<a href='http://www.dcide.com.br'>www.dcide.com.br</a>

<br><br><br><br><br>

<p style='font-size:8.5pt'>Esta mensagem é uma correspondência reservada. Se você a recebeu por engano,
    por favor desconsidere-a. O sistema de mensagens da Internet não é considerado
    seguro ou livre de erros. Esta instituição não se responsabiliza por opiniões
    ou declaracões veiculadas através de e-mails. Esta mensagem pode conter informação
    confidencial e/ou privilegiada. Se você não for o destinatário ou a pessoa autorizada a
    receber esta mensagem, não pode usar, copiar ou divulgar as informações nela contidas
    ou tomar qualquer ação baseada nessas informações. Se você recebeu esta mensagem por
    engano, por favor avise imediatamente o remetente, respondendo o e-mail e em seguida
    apague-o. Agradecemos sua cooperação.</p>